.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63, 73, 204);
}

.formContainer {
  width: 25rem;
  margin: 0 auto 0 auto;
  padding: 1.6rem;
  background: lightblue;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  
}

.input {
  width: 100%;
  padding: .6rem;
  border-radius: .1rem solid rgb(63, 73, 204);
  font-size: 0.9rem;
}

.input option {
  margin-top: 1rem;
}